 
 .exampage2{
   background-color: red;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  min-height:100vh;
  background-color: white;
  font-family: "Segoe UI",sans-serif;
 }
 .question-title{
    
 display: grid;
   width: 70%;
  margin: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 }
 .question-form{
  display: flex;
   width: 70%;
  margin: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 }
 .preview{
 
 display: flex;
  width: 70%;
  margin: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
   display: flex;
  flex-wrap: wrap;
  gap: 20px;
 }
 .preview h2{
 
   text-align: center;
   
 }
 .saveExam{
 
   justify-content: center;
   display:flex;
  width: 70%;
  margin: 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 }

 .saveExam button{
  border-radius: 15px;
  width: 100%;
  border: 1px solid #ccc;
 }


 
 
 .login-page{
    display: flex;
    justify-content: center;
  
    gap: 20rem;
}
  
  .login-page button{
    
    background-color:white;
    font-size: 30px;
    
}

.btn-teacher{
     display: grid;

   
  
}
button{
  border-radius: 3px;
   font-size: 20px;
    padding: 5px 2px;
    width: 25%;
    background-color: white;
  
}


.teacherdashboard{

  width: 100%;
   min-height: 90vh;
 
}
  


.btn-teacher{
width: 25% ;
  border-radius: 3px;
  min-height: 80vh;
  background-color: white;

}

.btn-teacher:hover{

   border: 1px solid #FFE4B5;
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}
.teacherdashboard h1{
  
  text-align: center;

}

.btn-teacher button{
  width: 100%;
   border: 2px solid white;
  border-radius: 10px;
  
  
}

.btn-teacher button:hover{
  transform: translateY(-8px);
 box-shadow:0 15px 35px rgba(0,0,0,0.15);
}






@media (max-width:768px){
 
    .login-container{
    display: grid;
  }


}

@media (max-width: 900px){

  .login-container{
    display: grid;
  }

  .saveExam{
    display: grid;
  }

  .question-form{
  display: grid;
  
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 }
 .preview{
 display: grid;
  margin-top: 10px;
  display: grid;
   flex-wrap: wrap;
  gap: 10px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
 }

 .teacherdashboard{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
   min-height: 80vh;
   


}

.btn-teacher{

width: 100% ;
min-height: 60vh;



}


}