  .student-loginpage{
   
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  min-height:100vh;
  background-color: white;
  font-family: "Segoe UI",sans-serif;

 }
 
 .container{
  height: 70vh;
  position: relative;

}



 /* Layout */
 .login-container{
    display:flex;
     gap:40px;
 }

 .students h1{
  text-align: center;
 }
 
 .login-page:hover{
 
  transform:translateY(-9px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
 }


.login-page{
     background:#FF7F50;
  padding:30px;
  width:220px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:all 0.3s ease;
}

.login-page button{
  width: 100%;
}

/* dashboard */
.dashboard{
  width:100%;
  display: flex;
  margin: 3px;
 height: 85vh;
 
}

.profile div{
  margin: 15px;
  padding: 85px 20px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
 
}

.profile{
  
  margin: 5px;
  border-radius: 5px;
  height: 85vh;
  width: 15%;
  background-color: #FF7F50;
}

.page{
  height: 85vh;
  width: 100%;
  display:flex;
  justify-content: center;
  text-align: center;

}
.page div{
  margin-top:10px;
 justify-content: center;
 width:30%;
 display: grid;
  height: 85vh;
  margin:10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.page div:hover{
       border: 1px solid #FFE4B5;
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}
.page button{
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  
}
.page input{
  height: 3rem;
  border-radius: 10px;
    width:100%
}
/* EXAMPAGE */

.examstudentpageContainer{
  width: 100%;
  height: 90vh;
 
}


.examstudentpage form{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;

}
.timer{
     display: flex;
      justify-content:flex-end;
     font-size: 50px;
    
 }
 


 
 .examstudentpagesubmit{
  margin-top: 9rem;
 
  display: flex;
  justify-content:flex-end;

  
 }
  .examstudentpagesubmit button{
    width: 10%;
  border-radius: 10px;

 }

 .scores{
 display: flex;
 justify-content: center;
 text-align: center;
 margin-top: 20rem;

 }



  .examstudentpage form button{
   width: 10%;
  border-radius: 10px;
 
 }


@media (max-width:768px){
  .page{
    display: grid;
    width:100%;
     margin:0px;
   
  }

  .page h1{
     text-align:center;
   
  }

  .dashboard{
    justify-content:center;
   display: grid;
   align-items:center;
   height: 100vh;
   width:100%;
   }

   .profile{
  width:100%;
  height: 50vh;
  padding: 0px 0px;
 
  }
 


  .login-container{
    display: grid;
  }
  .page div{
    margin-top:6cap;
   height: 50vh;
  width:100%;
  
}



 .examstudentpage form{
  display: grid;
  gap: 20px;
  font-size: 15px;
  justify-content: center;

}

.timer{
     display: grid;
      justify-content:center;
     font-size: 50px;
       
 }
 


 .examstudentpage form button{
   width: 100%;
  border-radius: 10px;
 
 }
 .examstudentpagesubmit{
  
  width: 100%;
  display: flex;
  flex-direction: column;
    
 
 }

 .examstudentpagesubmit button{
  width: 100%;
  
 }
 

}