body {
  overflow-x: hidden;
  font-family: sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
}
.icon i {
  color: white;
}
.logo {
  margin: 0;
}

span {
  color: #ff8654;
}
.links {
  display: flex;
  gap: 60px;
  z-index: 9999;
}
.icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer a {
  margin-top: 0px;
  color: #ff7f50;
  bottom: 0px;
  text-decoration: none;
  font-weight: 500;
}
.footer p {
  font-size: 20px;
  margin-top: 50px;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    color: white;
    z-index: 10000;
  }

  .links {
    position: fixed;
    top: 70px; /* instead of 0 */
    right: -100%;
    height: calc(100vh - 70px);
    width: 70%;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    transition: right 0.4s ease-in-out;

    z-index: 9999;

    /* IMPORTANT FIX */
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.2);
  }

  .links.active {
    right: 0;
  }

  .link {
    color: #111;
    font-size: 18px;
  }

  .icon i {
    color: black;
  }
}
