


.title input{
    font-size: 20px;
    border-radius: 5px;
}
.title h1{
    text-align: center;
}
.title input{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.formsection input{
     width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
 
.formsection form button {
   width: 100%;
   margin-left: 0px;
   border: 1px solid #ccc;

}

.formsection form select {
    text-align: center;
   padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}


.formsection form{
     text-align: center;
}
.question-preview button{
    width: 60%;
}

.question-preview{
    margin-top: 40px;
}



@media (max-width:768px){

.title h1 {
    text-align: center;
    
}

.formsection form {
    display: grid;
    
}

.formsection form button {
   width: 100%;
   margin-left: 0px;
   border: 1px solid #ccc;

}

.formsection form select {
   padding: 10px;
   border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.question-preview button{
    width: 100%;
}

}